##common settings
#boolean value indicating if the indexing of annotations in solr should be performed. required valid solr configurations
annotation.indexing.enabled=false

#string value indicating if the application runs in "production", "test", "development" environment 
annotation.environment=production

#used only in production environment
annotation.environment.production.baseUrl=http://data.europeana.eu/annotation

#used only in production environment
annotation.environment.test.baseUrl=http://test-annotations.europeana.eu/annotation

#used only in production environment
annotation.environment.development.baseUrl=http://localhost:8080/annotation

#default whitelist resource name
annotation.whitelist.default=/config/default_whitelist.json

# VCAP settings
annotation.environment.vcap.mongoservice = mongo_service
#available values: pivotal, a9s 
annotation.environment.vcap.provider = a9s

# mongoDB settings
### annotation database ###
#deprecated
mongodb.annotation.dbname=annotation_test
#deprecated
mongodb.annotation.host=127.0.0.1
#deprecated
mongodb.annotation.port=27017
#deprecated
mongodb.annotation.username=
#deprecated
mongodb.annotation.password=
#Format: "mongodb://<USER>:<PASSWORD>@<HOST>:<PORT>/<DATABASE>"
#USER, PASSWORD are optional (in local environment) 
mongodb.annotation.connectionUrl=mongodb://europeana:culture@127.0.0.1:27017/annotation_test

# solr connection settings
#solr.annotation.url = http://localhost:8282/solr/annotation
solr.annotation.url = http://localhost:8282/solr/annotation?wt=json
solr.tag.url = http://localhost:8282/solr/tag
solr.annotation.timeout = 60000
solr.tag.timeout = 60000

solr.facetLimit=750
#solr.username=europeana
#solr.rowLimit=12


#placeholder to store generation timestamp
annotation.properties.timestamp=-1

#current API name
authorization.api.name=