# mongoDB settings
### annotation database ###
mongodb.annotation.dbname=annotation_test
mongodb.annotation.host=127.0.0.1
mongodb.annotation.port=27017
#mongodb.annotation.username=
#mongodb.annotation.password=



solr.embedded.url = target/test-classes/solr
solr.embedded.config = classpath:solr/solr.xml
#solr.embedded.chunkSize = 1000

solr.facetLimit=750
solr.username=europeana
#solr.rowLimit=12

#
# mongoDB settings
#
# other
#
